################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DotNet/HelloWorld/bin/Debug/net9.0
/DotNet/HelloWorld/obj
/DotNet/HelloWorld2/bin/Debug/net9.0
/DotNet/HelloWorld2/obj
/DotNet/TiedostonLukujenSumma/bin/Debug/net9.0
/DotNet/TiedostonLukujenSumma/obj
/DotNet/WindowsFormsDemo/.vs/WindowsFormsDemo
/DotNet/WindowsFormsDemo/WindowsFormsDemo/bin/Debug/net9.0-windows
/DotNet/WindowsFormsDemo/WindowsFormsDemo/obj
/DotNet/Numerotietotyypit/bin/Debug/net9.0
/DotNet/Numerotietotyypit/obj
/DotNet/Merkkijonot/bin/Debug/net9.0
/DotNet/Merkkijonot/obj
/DotNet/AspNetMvcDemo/bin/Debug/net9.0
/DotNet/AspNetMvcDemo/obj
/DotNet/WindowsFormsDemo/.vs/ProjectEvaluation
/DotNet/AspNetMvcDemo/.vs/AspNetMvcDemo/v17
/DotNet/AspNetMvcDemo/.vs/AspNetMvcDemo/config
/DotNet/AspNetMvcDemo/.vs/AspNetMvcDemo/FileContentIndex
/DotNet/AspNetMvcDemo/.vs
/DotNet/AspNetWebApiDemo/.vs/AspNetWebApiDemo
/DotNet/AspNetWebApiDemo/AspNetWebApiDemo/bin/Debug/net9.0
/DotNet/AspNetWebApiDemo/AspNetWebApiDemo/obj
