@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<h2>Laskin</h2>
<p>
    <input type="number" id="num1" value="0" />
    <input type="number" id="num2" value="0" />
    <button onclick="calculateSum()">Laske summa</button>
</p>

<hr />
@for (int i = 0; i < 10; i++)
{
    <p>Hello, World! @i</p>
}